@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');

#loadingOverlay {
  /* As linhas abaixo garantem que o elemento ocupe 100% do espaço da tela */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Fundo branco semi-transparente */
  background-color: rgba(255, 255, 255, 0.8);
  /* Posiciona o spinner acima de todos os outros elementos HTML */
  z-index: 9999;
}

.spinner-border {
    /* Aumenta o tamanho do spinner */
    width: 100px;
    height: 100px;
}

body {
    background-color: rgb(63, 146, 99);
}


h1 {
   font-family: "BBH Sans Hegarty";
   color: lightgreen;
}

input[type="text"], select {
    background-color: rgb(69, 149, 152) !important;
    border: 1px solid green !important;
}

input[type="text"]::placeholder {
    color: aliceblue;
}

label{
    color: aliceblue;
}